/* CSS for the non-model pages */
a,p {
    font-family: "Helvetica";
}
#content a {
    color: black;
    text-decoration: underline;
}
#page{
    background-color: #f9f9f9;
}
code {
    color: inherit;
    background-color: rgba(27,31,35,0.05);
}
@media(min-width: 900px){
    .sidenav{
        width: 20%;
        padding-right: 2%;
        padding-left: 2%;
        float: right;
        background-color: #e4e9ec;
        border-left: solid thin gray;
        border-bottom: solid thin gray;
    }
    .archive{
        width: 20%;
        padding-right: 2%;
        float: left;
        border-right: solid thin gray;
    }
    .news-marg{
        margin-left: 18%;
        position: absolute;
        margin-top:-20px;
    }
    .twitter-card{
        display: none;
    }
    .row{
        margin-right:15%;
    }
    .container{
        margin-right:23%;
        width: 73%;
        max-width: 2000px;
    }
    .email-form{
        width: 405px !important;
        margin-left: 10px;
    }
}
@media (max-width: 900px) {
    .archive{
        display: none;
    }
    .sidenav{
        display: none;
    }
    .navbar-text{
        display: none;
    }
    .email-form{
        width: 200px;
        margin-left: 10px;
    }
}
.navbar{
    background-color: white;
    border-bottom: solid thin gray;
    box-shadow: 0px 1px 0px #c7c8c9;
}
.card-link{
    color: black;
}
.card-header{
    background-color:#faddb7;
}
a.card-link:hover{
    color: black;
    text-decoration: none;
}
a.btn:hover{
    background-color: #faddb7;
    color: black;
}
.card:hover{
    background-color: #faddb7;
}
.btn-lg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.jumbotron {
    background-color: #f9f9f9;
}
.newsletter-input {
    border-radius: 5px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 5px;
    padding: 5px;
}
#mc-embedded-subscribe {
    margin-bottom: 100px;
}
.asterisk {
    color: red;
}
#aboutlink {
    font-family: 'Courier New', Courier, monospace;
}
#subscribe {
    margin-top: 20px;
    font-size: 3.5vw;
}
.model-info a {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
}