/* CSS for the non-model pages */
#content a {
    color: black;
    text-decoration: underline;
}
code {
    color: inherit;
    background-color: rgba(27,31,35,0.05);
}
.card-link{
    color: black;
}
a.card-link:hover{
    color: black;
    text-decoration: none;
    background-color: #eff1f2;
}
a.btn:hover{
    background-color: #d3dded;
    color: black;
}
.card-header:hover{
    background-color:#dbe8fc;
}
.card:hover{
    background-color: #dbe8fc;
}
.btn-lg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
@media(min-width: 650px){
    .sidenav{
        height: 100%;
        width: 300px;
        float: right;
        margin-right: 50px;
    }
}
@media (max-width: 650px) {
    .sidenav{
        display: none;
    }
}
@media(min-width: 650px){
    .container{
        margin-right:350px;
        width: 75%;
        max-width: 2000px;
    }
}
@media(min-width: 650px) {
    .twitter-card{
        display: none;
    }
}
.jumbotron {
    background-color: #F0F0F0;
}
.newsletter-input {
    border-radius: 5px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 5px;
    padding: 5px;
}
#mc-embedded-subscribe {
    margin-bottom: 100px;
}
.asterisk {
    color: red;
}
h1 {
    font-size: 3.5vw;
}
#aboutlink {
    font-family: 'Courier New', Courier, monospace;
}
#subscribe {
    margin-top: 20px;
    font-size: 3.5vw;
}