<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128365658-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-128365658-1');
        </script>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <!-- include bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../CSS/page.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="page">
        <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color:white">
            <div>
                <a href="../index.html" class="navbar-brand"><img style="height:40px" src="../imgs/PSL.svg"></a>
            </div>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#dropdownMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="dropdownMenu">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="../Catalog/index.html">Catalog</a></li>
                    <li class="nav-item active"><a class="nav-link" href="../about.html">About PSL</a></li>
                    <li class="nav-item active"><a class="nav-link" href="archive.html">Newsletter</a></li>
                </ul>
            </div>
            <span class="navbar-text" style="float:right; font-family:'Courier New', Courier, monospace; margin-right:2%">
                Open Models == Better Policy
            </span>
        </nav>
        <div class="archive">
            <p style="font-family: arial,verdana; font-size: 22px; margin-left: 20px; margin-top: 40px; margin-bottom: 30px; font-weight: bold">Archives</p>
            <style type="text/css">
                .display_archive {font-family: arial,verdana; font-size: 16px; margin-left: 20px;}
            </style>
             <script language="javascript" src="https://pslmodels.us19.list-manage.com/generate-js/?u=a5800eed8cadff70bf999bc29&fid=4615&show=10" type="text/javascript"></script>
        </div>
        <div class="container news-marg" id="content">
            {{ content }}
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>