<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <!-- include bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            #content a {
                color: black;
                text-decoration: underline;
            }
            code {
                color: inherit;
                background-color: rgba(27,31,35,0.05);
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-header">
                <a href="../../../index.html" class="navbar-brand">Policy Simulation Library</a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="about.html" class="nav-link">About PSL</a></li>
                <li class="nav-item"><a href="models.html" class="nav-link">Models</a></li>
                <!-- <li class="nav-item"><a href="donate.html" class="nav-link">Donate</a></li>
                <li class="nav-item"><a href="faq.html" class="nav-link">FAQ</a></li> -->
            </ul>
        </nav>
        <div class="container" id="content">
            {{ content }}
        </div>
    </body>
</html>