<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128365658-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-128365658-1');
        </script>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <!-- include bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="CSS/page.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand">Policy Simulation Library</a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="Catalog/index.html" class="nav-link">Catalog</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About PSL</a></li>
                <li class="nav-item"><a href="Newsletter/archive.html" class="nav-link">Newsletter</a></li>
            </ul>
        </nav>
        <div class="container" id="content">
            {{ content }}
        </div>
    </body>
</html>