<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PSL Models</title>
        <!-- include bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <style>
        .model-info a {
            /* happy to talk other colors here...
            ideally it would be noticeable that there's a link without being hyperlink-blue */
            color:inherit;
            text-decoration-line: underline;
            text-decoration-style: solid;
        }
    </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-header">
                <a href="../../../../../index.html" class="navbar-brand">Policy Simulation Library</a>
            </div>
            <ul class="navbar-nav">
                <!-- TODO: Need better solution to relative path here -->
                <li class="nav-item"><a href="../about.html" class="nav-link">About PSL</a></li>
                <li class="nav-item"><a href="../models.html" class="nav-link">Models</a></li>
                <li class="nav-item"><a href="../donate.html" class="nav-link">Donate</a></li>
                <li class="nav-item"><a href="../faq.html" class="nav-link">FAQ</a></li>
            </ul>
        </nav>

        <div class="container">
            <div class="model-info">
                <h1>Model: {{ project.name.value }}</h1>

                {% if project.project_overview %}
                    <h4>Project Overview: </h4>
                    <p>{{ project.project_overview.value }} </p>
                    {% if project.project_overview.source %}
                        <p><a href={{project.project_overview.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.citation.value %}
                    <h4>Preferred Citation: </h4>
                    <p>{{ project.citation.value }}</p>
                    {% if project.citation.source %}
                        <p><a href={{project.dev_changelog.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.license.value %}
                    <h4>License: </h4>
                    <p>{{ project.license.value }}</p>
                    {% if project.license.source %}
                        <p><a href={{project.license.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.user_documentation.value %}
                    <h4>User Documentation: </h4>
                    <p>{{ project.user_documentation.value }}</p>
                    {% if project.user_documentation.source %}
                        <p><a href={{project.user_documentation.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.user_changelog.value %}
                    <h4>User Change Log: </h4>
                    <p>{{ project.user_changelog.value }}</p>
                    {% if project.user_changelog.source %}
                        <p><a href={{project.user_changelog.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.dev_changelog.value %}
                    <h4>Developer Change Log: </h4>
                    <p>{{ project.dev_changelog.value }}</p>
                    {% if project.dev_changelog.source %}
                        <p><a href={{project.dev_changelog.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.disclaimer.value %}
                    <h4>Disclaimer: </h4>
                    <p>{{ project.disclaimer.value }} </p>
                    {% if project.disclaimer.source %}
                        <p><a href={{project.disclaimer.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.user_case_studies.value %}
                    <h4>User Case Studies: </h4>
                    <p>{{ project.user_case_studies.value }} </p>
                    {% if project.user_case_studies.source %}
                        <p><a href={{project.disclaimer.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.project_roadmap.value %}
                    <h4>Project Roadmap: </h4>
                    <p>{{ project.project_roadmap.value }}</p>
                    {% if project.project_roadmap.source %}
                        <p><a href={{project.project_roadmap.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.contributor_overview.value %}
                    <h4>Contributor Overview: </h4>
                    <p>{{ project.contributor_overview.value }} </p>
                    {% if project.contributor_overview.source %}
                        <p><a href={{project.contributor_overview.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.contributor_guide.value %}
                    <h4>Contributor Guide: </h4>
                    <p>{{ project.contributor_guide.value }} </p>
                    {% if project.contributor_guide.source %}
                        <p><a href={{project.contributor_guide.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.governance_overview.value %}
                    <h4>Governance Overview: </h4>
                    <p>{{ project.governance_overview.value }} </p>
                    {% if project.governance_overview.source %}
                        <p><a href={{project.governance_overview.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.public_funding.value %}
                    <h4>Public Funding: </h4>
                    <p>{{ project.public_funding.value }} </p>
                    {% if project.public_funding.source %}
                        <p><a href={{project.public_funding.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.link_to_webapp.value %}
                    <h4>Webbapp Link: </h4>
                    <p>{{ project.link_to_webapp.value }} </p>
                    {% if project.link_to_webapp.source %}
                        <p><a href={{project.link_to_webapp.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.public_issue_tracker.value %}
                    <h4>Public Issue Tracker: </h4>
                    <p>{{ project.public_issue_tracker.value }} </p>
                    {% if project.public_issue_tracker.source %}
                        <p><a href={{project.public_issue_tracker.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

                {% if project.public_qanda.value %}
                    <h4>Public Q&A: </h4>
                    <p>{{ project.public_qanda.value }} </p>
                    {% if project.public_qanda.source %}
                        <p><a href={{project.public_qanda.source}} >[source]</a></p>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </body>
</html>