<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PSL Models</title>
        <!-- include bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <style>
        .container .model-info p a {
            /* happy to talk other colors here...
            ideally it would be noticeable that there's a link without being hyperlink-blue */
            color:inherit;
        }
    </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-header">
                <a href="../../../../index.html" class="navbar-brand">Policy Simulation Library</a>
            </div>
            <ul class="navbar-nav">
                <!-- TODO: Need better solution to relative path here -->
                <li class="nav-item"><a href="../about.html" class="nav-link">About PSL</a></li>
                <li class="nav-item"><a href="../models.html" class="nav-link">Models</a></li>
                <li class="nav-item"><a href="../donate.html" class="nav-link">Donate</a></li>
                <li class="nav-item"><a href="../faq.html" class="nav-link">FAQ</a></li>
            </ul>
        </nav>

        <div class="container">
            <div class="model-info">
                <h1>Model: {{ project.name.value }}</h1>
                <h4>Project Overview: </h4>
                <p>{{ project.project_overview.value }} <a href={{project.project_overview.source}} >[source]</a></p>
                <h4>Preferred Citation: </h4>
                <p>{{ project.citation.value }} <a href={{project.citation.source}} >[source]</a></p>
                <h4>Change Log: </h4>
                <p>{{ project.dev_changelog.value }} <a href={{project.dev_changelog.source}} >[source]</a></p>
            </div>
        </div>
    </body>
</html>