<br /><br />
    <div class="footer-banner">
      <div class="footer-image">
        <img alt="Your Image Description" src="../imgs/PSL.svg" />
      </div>
      <div class="footer-text">
        PSL is developed by a community of technical contributors. Learn how to
        contribute to library projects or add a new project to the library.
      </div>
      <div class="footer-buttons">
        <a class="button" href="../Community/contribute.html">
          JOIN THE COMMUNITY
        </a>
        <a class="button" href="https://opencollective.com/psl">
          DONATE TO PSL
        </a>
      </div>
    </div>
<footer class="footer">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm text-center">
        <a class="fa fa-twitter" href="https://twitter.com/pslmodels"> </a>
        <a
          class="fa fa-linkedin"
          href="https://www.linkedin.com/company/policy-simulation-library/"
        >
        </a>
        <a
          class="fa fa-youtube"
          href="https://www.youtube.com/channel/UCf7WWCuZHs_FFLjuBW4a4_Q"
        >
        </a>
        <a
          aria-hidden="true"
          class="fa fa-github"
          href="https://github.com/pslmodels"
        >
        </a>
      </div>
      <div class="col-sm"></div>
    </div>
  </footer>